{{outlet}}
<h1 class="portfolio-title-header"><a href="http://www.brandgenie.com/">www.brandgenie.com</a></h1>
<br>
<div class="row flex">
  <div class="col-lg-6 brandgenie">
    {{light-box href="images/brand-genie/brandgenie-index.png" data-lightbox="brandgenie-group" data-title="Index"}}
    {{light-box href="images/brand-genie/brandgenie-index-large.png" data-lightbox="brandgenie-group" data-title="Index Large" inlineImage=false}}
    {{light-box href="images/brand-genie/brandgenie-productsandpricing.png" data-lightbox="brandgenie-group" data-title="Products and Pricing Page" inlineImage=false}}
    {{light-box href="images/brand-genie/brandgenie-products-brand.png" data-lightbox="brandgenie-group" data-title="Products Brand Page" inlineImage=false}}
    {{light-box href="images/brand-genie/brandgenie-products-businesscard.png" data-lightbox="brandgenie-group" data-title="Products Business Card Page" inlineImage=false}}
    {{light-box href="images/brand-genie/brandgenie-products-logo.png" data-lightbox="brandgenie-group" data-title="Products Logo Page" inlineImage=false}}
    {{light-box href="images/brand-genie/brandgenie-products-website.png" data-lightbox="brandgenie-group" data-title="Products Website Page" inlineImage=false}}
  </div>
  <div class="col-lg-6 brandgenie">
    <h2>What changes I made.</h2>
    <br>
    <p>• Adjusted the carousel and created the alternating image/text scroll down using provided assets on the index.</p>
    <br>
    <p>• Designed the bottom half of the products & pricing page.</p>
    <br>
    <p>• Created the individual products pages that Brand Genie offers.</p>
  </div>
</div>